<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>The Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a local library used to aply Django knowledge and improve HTML, CSS, Javascript and Python development skills.">
    <meta name="google" value="notranslate">
    <base target="_self">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    
    <style>
      body {
        height:3500px;
        background-color: #eeeeee;
      }
      .header {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #bbbbbb;
      }
      .progress-container {
        width: 100%;
        height: 0.3vw;
        background: #D8D8D8;
      }
      .progress-bar {
        height: 0.3vw;
        background: #FF0000;
        width: 0%;
      }
      .navbar {
        position: fixed;
        top: calc(6.69vw + 6.69vh);
        width: 100%;
        z-index: 1;
      }

      @media (min-width: 768px) {
        .navbar {
            height:70px;
        }
        .responsive-main {
            margin-top: calc(6.7vw + 6.7vh + 90px)
        }
      }

      @media (max-width: 767.9px) {
        .responsive-main {
            margin-top: calc(6.7vw + 6.7vh + 180px)
        }
      }
    </style>
  </head>



{%comment%}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
{%endcomment%}

  <body>
    <div class="header">
      <a style="font-size: calc(3vw + 3vh); font-family: 'Great Vibes', cursive;"><center>The Local Library</center></a>
      <a style="font-size: calc(1.4vw + 1.4vh); font-family: 'Great Vibes', serif;"><center>(By Joaquín Jiménez Caviedes)</center></a>
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>      
    </div>


{% block sidebar %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">


              <div class="navbar-collapse collapse data_to_collapse w-50 order-1 order-md-0">
                  <ul class="navbar-nav"> 
                      <li class="nav-item active">
                          <a class="nav-link pl-0" href="{% url 'index' %}">Home <span class="sr-only">Home</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'books' %}">All books</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'authors' %}">All authors</a>
                      </li>
                  </ul>
              </div>


              <div class="navbar-collapse collapse data_to_collapse w-50 order-2">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-twitter"></i></a></li>
                      <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-github"></i></a></li>
                  </ul>
              </div>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".data_to_collapse" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="mx-auto my-2 order-0 order-sm-0">
                <a class="navbar-brand mx-auto mt-1" href="#">
                  <img src="http://www.pngmart.com/files/1/Open-Book-Transparent-Background-PNG.png" style="width: 180px;">
                </a>
              </div>
        </nav>    
      {% endblock %}




    <main class="responsive-main">
    <div class="container" >
        {% block search %}
          <div style="margin: 30px 40px; border-style: outset; border-color: #AED6F1; border-width: 3px; border-radius: 25px; background-color:#A9F5F2;">
            <center>
              <form class="form-inline well well-sm justify-content-center"  action="http://127.0.0.1:8000/catalog/search/" method="get">
                <label class="mb-2 mr-sm-4 my-sm-2">Search a book by...</label> 
                <div class="form-check form-check-inline mb-2 mr-sm-2 my-sm-2">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="check_boxes" value="author" checked>
                  <label class="form-check-label" for="inlineCheckbox1">Author</label>
                </div>
                <div class="form-check form-check-inline mb-2 mr-sm-2 my-sm-2">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="check_boxes" value="title" checked>
                  <label class="form-check-label" for="inlineCheckbox2">Title</label>
                </div>
                <div class="form-check form-check-inline mb-2 mr-sm-2 my-sm-2">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="check_boxes" value="word" checked>
                  <label class="form-check-label" for="inlineCheckbox3">Special word</label>
                </div>
                <div class="form-check form-check-inline mb-2 mr-sm-2 my-sm-2">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="check_boxes" value="redundancy">
                  <label class="form-check-label" for="inlineCheckbox4">Avoid redundancy in tool-search results</label>
                </div>
                <div class="input-group mb-2 mr-sm-2 my-sm-2">                    
                  <input type="search" placeholder="Search" aria-label="Text input with checkbox" name="search_box">
                  <div class="input-group-prepend">
                    <button type="btn btn-success" type="submit" ><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </center>
          </div>
        {% endblock %}


      {% block content %}
        <h3>Navbar Forms</h3>
        <p>Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,Example, Example, Example, Example, Example, Example ,</p>
      {% endblock %}
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination pagiantion-lg container-fluid">
            <span>
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous page</a>
              {% endif %}
            </span>
            <span> &nbsp &nbsp Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &nbsp &nbsp
            </span>
            <span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next page</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}
      {% block google_search %}
      {% endblock %}
    </div>

    <!--scripts loaded here-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      // When the user scrolls the page, execute myFunction
      window.onscroll = function() {myFunction()};

      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
    </script>
  </body>
</html>