{% extends "base_generic.html" %}
{% block content %}

    <h1>Google Books search result</h1>
    {% if results %}
        <ul>
            {% for book in results %}
                <li>
                    <a>{{ book.volumeInfo.title }}</a>
                    {% if book.volumeInfo.authors %}
                        <span>({% for author in book.volumeInfo.authors %}{{ author }} - {% endfor %})</span>
                    {% else %}
                        <span class="text-danger">No author/s available</span>
                    {% endif %}
                    {% if  book.volumeInfo.description%}
                        <p>{{ book.volumeInfo.description }}</p>
                    {% else %}
                        {% if book.searchInfo.textSnippet %}
                            <br>
                            {% autoescape off %}
                                <p>{{ book.searchInfo.textSnippet }}</p>
                            {% endautoescape %}                            
                        {% else %}
                            <p class="text-danger">There is no summary available</p>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>  
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}